
@{
    ViewBag.Title = "DOBRODOŠLI";
}

<div class="jumbotron" style="float:none">
    <h1>ETFKupon</h1>
    <p class="lead">Dobrodošli na revolucionarni sistem kupovine ETFKupon</p>
    <form method="POST">
        <input class="form-control" name="usernameLogin" id="usernameLogin" type="text" placeholder="Username" />
        <br /> 
        <div id="passwordGreska" style="font-size:small">
            @Html.Label("", Convert.ToString((string)ViewBag.passwordGreska))
        </div> 
        <input class="form-control" name="passwordLogin" id="passwordLogin" type="password" placeholder="Password" />
        
        <br /> <br />
        <p><button type="submit" class="btn btn-primary btn-lg">Login &raquo;</button></p>
    </form>
</div>
<div class="row">
    <div class="col-md-5" style="float:left">
        <h2>Registracija kupca</h2>
        <p>
            Ako želite da kupujete na najsavremenijem sistemu kupovine, uz korištenje kupona, online plaćanje te
            kućnu dostavu artikala, ovdje se možete registrovati. Registracija je potpuno besplatna, a pogodnosti
            su neograničene.
        </p>
        <input type="button" class="btn btn-default" value="Registruj se kao kupac &raquo;" onclick="window.location.href='@Url.Action("Create", "KupacBaza")';"/>
        
    </div>
    <div class="col-md-5" style="float:right">
        <h2>Registracija firme</h2>
        <p>
            Ako ste pak firma, koja bi da ponudi svoje usluge na našem servisu, da prodajete artikle pouzdano,
            svojim kupcima obezbijedite popuste na određene artikle, možete se registrovati klikom na dugme ispod.
        </p>
        <input type="button" class="btn btn-default" value="Registruj se kao firma &raquo;" onclick="window.location.href='@Url.Action("Create", "FirmaBaza")';" />

    </div>
</div>