@model IEnumerable<object>

@{
    ViewBag.Title = "Artikli pretraga";
    List<ETFKupon.Models.Artikal> listaArtikala = Model.ToList()[0] as List<ETFKupon.Models.Artikal>;
}


<h2>Lista Artikala</h2>
<div>
    @foreach (var item in listaArtikala)
    {
        if (item.Kolicina > 0)
        {
            <li>Naziv: @item.Naziv, Cijena: @item.Cijena KM</li>
        }
    }
</div>